img {
	display:block;
	margin-left: auto;
	margin-right:auto;
	width: 269px;
	height: 150px;
	padding-top: 112px;
}

.search {
	display:block;
	margin-left: auto;
	margin-right:auto;
	border: 2px solid blue;
	width: 500px;
	height: 27.5px;

}

.submit {
	font-weight: bold;
	float: center;
	display:inline-block;
	text-align: center;

}