body {
	font-family: Arial, sans-serif;
}

a {
	font-size: 0.85em;
}
#topbar a:link {
	text-decoration: none;
	color: #000000;
}

#topbar a:hover {
	text-decoration: underline;
	color: #000000;
	opacity: 0.85;
}

ul {
	list-style-type: none;
}

#topbar li {
	float: right;
	display: block;
	padding: 0 0 0 18px;
}

#dylan {
	opacity: 0.50;
	font-size: .85em;
	margin-top: 2px;
}

.google {
	display:block;
	margin-left: auto;
	margin-right:auto;
	width: 269px;
	height: 150px;
	padding-top: 150px;
	padding-left: 305px;
}

.buttonHolder {
	text-align: center;
}

.search {
	display:block;

	margin-left: auto;
	margin-right:auto;
	margin-bottom:15px;

	border: 1px transparent gray;
	width: 600px;
	height: 26.5px;

	font-size: 1.25em;

}

.submit {

	
	font: bold 11px/27px Arial,sans-serif;
	border: 1px solid #dcdcdc;
	border-radius: 4px;
	padding: 3px 4px 3px 4px;
	margin: 5px;
	display: inline-block;
	height: 35px;
}

#bottombar {
	background-color: #f2f2f2;
	border-top: 2px solid #e4e4e4;
	height: 40px;
	clear: both;
	position: relative;
	margin-top: 215px;
}

#bottombar ul {
	margin-left: 27px;
	margin-top: 5px
}

#bottombar a:link, #bottombar a:visited {
	color: #666;
}

#bottomleftbar {
	float: left;

}

#bottomrightbar {
	margin-right: 27px;

}

#bottomleftbar a:link, #bottomrightbar a:link {
	text-decoration: none;
}

#bottomleftbar a:hover, #bottomrightbar a:hover {
	text-decoration: underline;
	opacity: 0.85;
}